openapi: 3.0.0
info:
  title: api.mekari.com
  contact:
    name: Mekari Qontak
    url: 'https://qontak.com'
    email: engineering.qontak@mekari.com
  license:
    name: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    url: 'https://creativecommons.org/licenses/by-sa/4.0/'
  description: |-
    <img src="https://content.pstmn.io/77c635ae-a5ad-49e9-ae65-239554e27bf1/TWVrYXJpIFFvbnRhayAtIENvbG9yIC0gUkdCLnBuZw==">

    Qontak Open API is a system that allows developers to connect or integrate multiple platforms. This means that this system allows developers to access certain internal functions of a program, then connect it with other programs.

    ## **Improve business efficiency with integrated products**

    Accelerate your business processes and development with systems that are perfectly integrated with each other. Improve practicality and cost savings.

    ## Flexible system to meet your business needs

    With interaction between systems, it will reduce human errors and facilitate the administrative process. Qontak has a flexible and easy open API system. Qontak will assist with every integration process

    Qontak Open API is built to satisfy the needs of integration between Qontak clients and CRM in Qontak. By using the APIs, client can push the data to CRM server and also receive data from Qontak available endpoints. Manage leads, companies, deals, and tasks effectively and easily using the CRM API.

    ## A. Authentication

    To start the integration, your company will need the HMAC Credentials from our Mekari Developer Center below.

    If your company does not have access, please kindly contact your company's Mekari representative (Presales/Aftersales team) or our Support Center (details to access Support Center can be seen [here](https://help-center.mekari.com/hc/id/articles/35653051467545-Bagaimana-Cara-Menggunakan-Support-Center-pada-Mekari-Account)) and share your company_name, company_id, email registered on Qontak CRM, and the purpose of the integration to obtain access to Mekari Developer Center.

    | **Environment** | **Mekari Developer Center URL** |
    | --- | --- |
    | Production | [https://developers.mekari.com/](https://developers.mekari.com/) |
    | Staging | [https://developers.mekari.io/](https://sandbox-developers.mekari.com/) |

    You can create HMAC username and secret, both is required to create a Authentication token upon a request operation.

    Note: You must be the owner of the company to request this credentials.

    ## B. Authorization

    We uses HMAC signature for the authentication. Below are the required headers to be passed for the Authentication process during the request.

    ## I. Request Headers

    | Header | Sample | **Description** |
    | --- | --- | --- |
    | Authorization | hmac username="CLIENT_ID", algorithm="hmac-sha256", headers="date request-line", signature="wRjZMxRQHFCa6sysJ2fC3l2nlRGF2cDbCFk4Vw/Mx/U=" | generated from pre-request javascript below. Need CLIENT_ID, CLIENT_SECRET, and baseUrl depending on environment.  <br>  <br>[https://api.mekari.io](https://api.mekari.io) for staging  <br>  <br>[https://api.mekari.com](https://api.mekari.com) for production |
    | Date | Wed, 14 Nov 2024 06:23:23 GMT | current time, automatically added from pre-request javascript. |
    | X-Crm-User-Sso-Id | 50c3d284-7b8b-460d-88bf-9cdde2bdbc26 | sso_id of user that want to do action. |

    ## II. HMAC Creation

    Below is the sample code in JavaScript (Postman Pre-Request Script) to create a HMAC code. Please port those code to your preferred programming language.

    ``` javascript
    const uuid = require('uuid');
    const CryptoJS = require('crypto-js');
    const clientSecret = "CLIENT_SECRET";
    const clientId = "CLIENT_ID";
    // baseUrl depends on production or staging
    const baseUrl = "https://api.mekari.io";
    const method = pm.request.method;
    const url = pm.request.url;
    const path = url.getPath();
    const queryParams = url.getQueryString();
    const fullPath = path + (queryParams ? '?' + queryParams : '');
    const datetime = new Date().toUTCString();
    const requestLine = `${method} ${fullPath} HTTP/1.1`;
    const payload = `date: ${datetime}\n${requestLine}`;
    const digest = CryptoJS.HmacSHA256(payload, clientSecret);
    const signature = CryptoJS.enc.Base64.stringify(digest);
    const authorizationHeader = `hmac username="${clientId}", algorithm="hmac-sha256", headers="date request-line", signature="${signature}"`;
    pm.request.headers.upsert({key: 'Content-Type', value: 'application/json'});
    pm.request.headers.upsert({key: 'Date', value: datetime});
    pm.request.headers.upsert({key: 'Authorization', value: authorizationHeader});

     ```
  version: 1.0.0
servers:
  - url: 'https://api.mekari.com'
    description: Production
tags:
  - name: Approvals
    description: Approval workflows and rules.
  - name: Companies
    description: Company records and related operations.
  - name: Contacts
    description: Contact records and related operations.
  - name: Deals
    description: Deal records and sales pipeline operations.
  - name: Geolocations
    description: Geolocation data and related operations.
  - name: Notes
    description: Notes attached to CRM records.
  - name: Notifications
    description: Notification resources and actions.
  - name: Pipelines
    description: Pipelines and their stages.
  - name: Product Association
    description: Associations between products and other CRM entities.
  - name: Products
    description: Product catalog records and operations.
  - name: Tasks
    description: Tasks and task categories.
  - name: Tickets
    description: Tickets and ticket pipelines.
paths:
  /qontak/crm/contacts/info:
    get:
      operationId: getContactTemplate
      tags:
        - Contacts
      summary: Get Contact Template
      description: |-
        Get Contacts Template Info.

        This request is to get all fields info on object Contact included additional fields.

        `"additional_field": false` = Default field

        `"additional_field": true` = Additional field.  

        | **Name** | **Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | status | string | Mandatory | status code of an API Call |
        | type | string | Mandatory | type of the status code |
        | error_code | string | Mandatory | error_code of an API Call |
        | info | string | Mandatory | info of the status URL |
        | developer_message | string | Mandatory | message of the status code |
        | message | string | Mandatory | message of the status code |
        | timestamp | string | Mandatory | the timestamp format used to display date between start and between end.  <br>example format;  <br>[https://www.qontak.com/api/v3.1/contacts?created_between_start=24/05/2022&amp;created_between_end=24/06/2022](https://www.qontak.com/api/v3.1/contacts?created_between_start=24/05/2022&created_between_end=24/06/2022) |
        | log_id | string | Mandatory | log_id of an API |
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2020-01-20T00:00:00.000+00:00'
                  log_id: a4726e4c-e90b-4f46-aa24-1daefbc71d11
                response:
                  - id: null
                    name: first_name
                    name_alias: First Name
                    required: true
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: last_name
                    name_alias: Last Name
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: job_title
                    name_alias: Job Title
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: creator_id
                    name_alias: Owner
                    required: true
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: User 1
                      - id: 2
                        name: User 2
                      - id: 3
                        name: User 3
                  - id: null
                    name: email
                    name_alias: Email
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: crm_phones
                    name_alias: Telephone
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: crm_status_id
                    name_alias: Status
                    required: false
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: status 1
                      - id: 2
                        name: status 2
                  - id: null
                    name: crm_location_address_map
                    name_alias: Address (Google Map)
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: address
                    name_alias: Address
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: country
                    name_alias: Country
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: province
                    name_alias: Province
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: city
                    name_alias: City
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: zipcode
                    name_alias: Zip Code
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: date_of_birth
                    name_alias: Date of Birth
                    required: false
                    additional_field: false
                    type: Date
                    dropdown: null
                  - id: null
                    name: crm_source_id
                    name_alias: Source
                    required: false
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 2
                        name: Source 1
                      - id: 2
                        name: Source 2
                  - id: null
                    name: crm_gender_id
                    name_alias: Sex
                    required: false
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Female
                      - id: 2
                        name: Male
                  - id: null
                    name: income
                    name_alias: Avg. Annual Income
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: upload_id
                    name_alias: Upload ID
                    required: false
                    additional_field: false
                    type: Upload
                    dropdown: null
                  - id: null
                    name: customer_id
                    name_alias: Customer ID
                    required: false
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                  - id: null
                    name: crm_occupation_id
                    name_alias: Occupation
                    required: false
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Occupation 1
                      - id: 2
                        name: Occupation 2
                  - id: null
                    name: crm_company_id
                    name_alias: null
                    required: false
                    additional_field: false
                    type: Number
                    dropdown: null
                  - id: 1
                    name: additional_field_name
                    name_alias: Additional Field Name Alias
                    required: false
                    additional_field: true
                    type: Date
                    dropdown: null
                  - id: 2
                    name: payment_options
                    name_alias: Payment Options
                    required: false
                    additional_field: true
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Cash
                      - id: 2
                        name: Credit
    servers: []
  /qontak/crm/contacts:
    get:
      operationId: listContacts
      tags:
        - Contacts
      summary: Get All Contacts
      description: |-
        Get All Contacts.  
        This request is to get all contacts. You can get all contacts just use endpoint `{{baseUrl}}/qontak/crm/contacts` or you can use specific params like endpoint above and params below.
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: created_after
          in: query
          description: Filter contacts created after this date (format DD-MM-YYYY)
          schema:
            type: string
          example: 15-07-2024
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-07-17T00:00:01.000+07:00'
                  log_id: 9e2c9a47-e4e7-46a6-89e2-ca4863b7d627
                response:
                  - id: 1
                    first_name: John
                    last_name: Smith
                    slug: john-smith
                    created_at: '2024-07-16T00:00:01.000+07:00'
                    updated_at: '2024-07-16T00:00:02.000+07:00'
                    job_title: CEO
                    creator_id: 1
                    creator_name: User 1
                    email: user1@example.com
                    telephone: '08123456789'
                    crm_status_id: 1
                    crm_status_name: Status 1
                    date_of_birth: null
                    crm_source_id: 1
                    crm_source_name: Source 1
                    crm_gender_id: 1
                    crm_gender_name: Male
                    income: '100000'
                    upload_id: null
                    customer_id: null
                    crm_company_id: null
                    crm_company_name: null
                    crm_deal_ids: []
                    crm_deal_name: []
                    additional_fields:
                      - id: 1
                        name: additional_fields_1
                        value: ''
                        value_name: Value A
                      - id: 2
                        name: additional_fields_2
                        value: ''
                        value_name: Value B
                  - id: 2
                    first_name: Andrew
                    last_name: Smith
                    slug: andrew-smith
                    created_at: '2024-07-16T00:00:01.000+07:00'
                    updated_at: '2024-07-16T00:00:02.000+07:00'
                    job_title: CEO
                    creator_id: 2
                    creator_name: User 2
                    email: user2@example.com
                    telephone: '08123456790'
                    crm_status_id: 2
                    crm_status_name: Status 2
                    date_of_birth: null
                    crm_source_id: 2
                    crm_source_name: Source 2
                    crm_gender_id: 2
                    crm_gender_name: Male
                    income: '200000'
                    upload_id: null
                    customer_id: null
                    crm_company_id: null
                    crm_company_name: null
                    crm_deal_ids: []
                    crm_deal_name: []
                    additional_fields:
                      - id: 1
                        name: additional_fields_1
                        value: ''
                        value_name: Value X
                      - id: 2
                        name: additional_fields_2
                        value: ''
                        value_name: Value Z
                page: 1
                total_page: 1
                current_data: 2
                total_data: 2
    post:
      operationId: createContact
      tags:
        - Contacts
      summary: Create Contact
      description: |-
        That need to be considered by the user in **Post** to contact.

        - If the user wants to know the code of existing field, they must to get the contact template first.
            

        This request is to create new single contact

        ## Variable

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |

        ## Body

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | first_name | string | Yes | first_name of body raw |
        | last_name | string | No | last_name of body raw |
        | job_title | string | No | job_title of body raw |
        | creator_id | numeric | No | creator_id of body raw. You can find creator_id by Get Contact Template and find creator_id on the response with name_alias = "Owner" |
        | creator_name | string | No | creator_name of body raw |
        | email | string | No | email of body raw |
        | telephone | numeric | No | telephone of body raw |
        | crm_status_id | numeric | No | crm_status_id of body raw. You can find crm_status_id by Get Contact Template and find crm_status_id on the response with name_alias = "Status" |
        | crm_status_name | string | No | crm_status_name of body raw |
        | address | string | No | address of body raw |
        | country | string | No | country of body raw |
        | province | string | No | province of body raw |
        | city | string | No | city of body raw |
        | zipcode | numeric | No | Zipcode of body raw |
        | date_of_birth | numeric | No | date_of_birth of body raw |
        | crm_source_id | numeric | No | crm_source_id of body raw |
        | crm_source_name | string | No | crm_source_name of body raw |
        | crm_gender_id | numeric | No | crm_gender_id of body raw |
        | crm_gender_name | string | No | crm_gender_name of body raw |
        | income | numeric | No | income of body raw |
        | upload_id | numeric | No | upload_id of body raw |
        | customer_id | numeric | No | customer_id of body raw |
        | crm_company_id | numeric | No | crm_company_id of body raw |
        | crm_company_name | string | No | crm_company_name of body raw |
        | crm_deal_ids | numeric | No | crm_deal_ids of body raw |
        | crm_deal_name | string | No | crm_deal_name of body raw |
        | additional_fields | string | No | additional_fields of body raw |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                first_name: My
                last_name: Name
                job_title: ''
                creator_id: 1
                creator_name: CRM User
                email: ''
                telephone: ''
                crm_status_id: null
                crm_status_name: null
                address: ''
                country: ''
                province: ''
                city: ''
                zipcode: ''
                date_of_birth: null
                crm_source_id: null
                crm_source_name: null
                crm_gender_id: null
                crm_gender_name: null
                upload_id: null
                customer_id: ''
                crm_company_id: null
                crm_company_name: null
                crm_deal_ids: []
                crm_deal_name: []
                additional_fields:
                  - id: 100
                    name: detail
                    value: ''
                    value_name: ''
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: ee203839-e3cd-4110-85e7-98119a71aafb
                response:
                  id: 2
                  first_name: New
                  last_name: Contact
                  slug: new-contact-d2ab8886
                  created_at: '2021-07-20T00:00:00.000+00:00'
                  updated_at: '2021-07-20T00:00:00.000+00:00'
                  job_title: ''
                  creator_id: 1
                  creator_name: User 1
                  email: some_email@mail.com
                  telephone: '1234567890009'
                  crm_status_id: null
                  crm_status_name: null
                  date_of_birth: null
                  crm_source_id: null
                  crm_source_name: null
                  crm_gender_id: null
                  crm_gender_name: null
                  income: ''
                  upload_id: null
                  customer_id: ''
                  crm_company_id: null
                  crm_company_name: null
                  crm_deal_ids: []
                  crm_deal_name: []
                  additional_fields:
                    - id: 1
                      name: additional_field_1
                      value: ''
                      value_name: some value
                    - id: 2
                      name: additional_field_2
                      value: ''
                      value_name: other value here
  '/qontak/crm/contacts/{id}':
    get:
      operationId: getContactById
      tags:
        - Contacts
      summary: Get Single Contact
      description: |-
        This request is to get specific contact properties by ID

        ## Path Variable

        | **Path** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific contact
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-07-17T00:00:01.000+07:00'
                  log_id: 9e2c9a47-e4e7-46a6-89e2-ca4863b7d627
                response:
                  - id: 1
                    first_name: John
                    last_name: Smith
                    slug: john-smith
                    created_at: '2024-07-16T00:00:01.000+07:00'
                    updated_at: '2024-07-16T00:00:02.000+07:00'
                    job_title: CEO
                    creator_id: 1
                    creator_name: User 1
                    email: user1@example.com
                    telephone: '08123456789'
                    crm_status_id: 1
                    crm_status_name: Status 1
                    date_of_birth: null
                    crm_source_id: 1
                    crm_source_name: Source 1
                    crm_gender_id: 1
                    crm_gender_name: Male
                    income: '100000'
                    upload_id: null
                    customer_id: null
                    crm_company_id: null
                    crm_company_name: null
                    crm_deal_ids: []
                    crm_deal_name: []
                    additional_fields:
                      - id: 1
                        name: additional_fields_1
                        value: ''
                        value_name: Value A
                      - id: 2
                        name: additional_fields_2
                        value: ''
                        value_name: Value B
                  - id: 2
                    first_name: Andrew
                    last_name: Smith
                    slug: andrew-smith
                    created_at: '2024-07-16T00:00:01.000+07:00'
                    updated_at: '2024-07-16T00:00:02.000+07:00'
                    job_title: CEO
                    creator_id: 2
                    creator_name: User 2
                    email: user2@example.com
                    telephone: '08123456790'
                    crm_status_id: 2
                    crm_status_name: Status 2
                    date_of_birth: null
                    crm_source_id: 2
                    crm_source_name: Source 2
                    crm_gender_id: 2
                    crm_gender_name: Male
                    income: '200000'
                    upload_id: null
                    customer_id: null
                    crm_company_id: null
                    crm_company_name: null
                    crm_deal_ids: []
                    crm_deal_name: []
                    additional_fields:
                      - id: 1
                        name: additional_fields_1
                        value: ''
                        value_name: Value X
                      - id: 2
                        name: additional_fields_2
                        value: ''
                        value_name: Value Z
                page: 1
                total_page: 1
                current_data: 2
                total_data: 2
    put:
      operationId: updateContact
      tags:
        - Contacts
      summary: Update Contact
      description: |-
        That need to be considered by the user in **Put** to contact.

        - If the user wants to know the code of existing field, they must to get the contact template first.
            
        - If the user wants to put data, they must to get all contact to know contact ID and fill the existing format
            
        - When creator_id: null or unspecified, will be using the current user instead
            

        This request is to update specific contact properties by ID

        ## Path Variable

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |

        ## Body

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | first_name | string | Yes | first_name of body raw |
        | last_name | string | No | last_name of body raw |
        | job_title | string | No | job_title of body raw |
        | creator_id | numeric | No | creator_id of body raw. You can find creator_id by Get Contact Template and find creator_id on the response with name_alias = "Owner" |
        | creator_name | string | No | creator_name of body raw |
        | email | string | No | email of body raw |
        | telephone | numeric | No | telephone of body raw |
        | crm_status_id | numeric | No | crm_status_id of body raw. You can find crm_status_id by Get Contact Template and find crm_status_id on the response with name_alias = "Status" |
        | crm_status_name | string | No | crm_status_name of body raw |
        | address | string | No | address of body raw |
        | country | string | No | country of body raw |
        | province | string | No | province of body raw |
        | city | string | No | city of body raw |
        | zipcode | numeric | No | Zipcode of body raw |
        | date_of_birth | numeric | No | date_of_birth of body raw |
        | crm_source_id | numeric | No | crm_source_id of body raw |
        | crm_source_name | string | No | crm_source_name of body raw |
        | crm_gender_id | numeric | No | crm_gender_id of body raw |
        | crm_gender_name | string | No | crm_gender_name of body raw |
        | income | numeric | No | income of body raw |
        | upload_id | numeric | No | upload_id of body raw |
        | customer_id | numeric | No | customer_id of body raw |
        | crm_company_id | numeric | No | crm_company_id of body raw |
        | crm_company_name | string | No | crm_company_name of body raw |
        | crm_deal_ids | numeric | No | crm_deal_ids of body raw |
        | crm_deal_name | string | No | crm_deal_name of body raw |
        | additional_fields | string | No | additional_fields of body raw |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                first_name: My
                last_name: Name
                job_title: ''
                creator_id: 1
                creator_name: CRM User
                email: ''
                telephone: ''
                crm_status_id: null
                crm_status_name: null
                address: ''
                country: ''
                province: ''
                city: ''
                zipcode: ''
                date_of_birth: null
                crm_source_id: null
                crm_source_name: null
                crm_gender_id: null
                crm_gender_name: null
                income: ''
                upload_id: null
                customer_id: ''
                crm_company_id: null
                crm_company_name: null
                crm_deal_ids: []
                crm_deal_name: []
                additional_fields:
                  - id: 100
                    name: detail
                    value: ''
                    value_name: ''
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific contact
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+07:00'
                  log_id: a3aed8a9-5b69-42a0-8718-0015b70456bc
    delete:
      operationId: deleteContact
      tags:
        - Contacts
      summary: Delete Contact
      description: |-
        This request is to delete specific contact by ID

        ## Path Variable

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific contact
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+07:00'
                  log_id: a3aed8a9-5b69-42a0-8718-0015b70456bc
  '/qontak/crm/contacts/{id}/timeline':
    get:
      operationId: getContactTimeline
      tags:
        - Contacts
      summary: Get Contact Timeline
      description: |-
        This request is to get timeline history on specific contact properties by ID

        ## Path Variable

        | **Path** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific contact
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: e7b810bd-b82c-441c-b640-c72337393b14
                response:
                  - who: User 1 (user1@example.com)
                    what: a contact
                    why: Added  Contact 'John Smith'.
                    when: '2021-07-16 00:00:00 +0700'
                    how: 'added '
                    content: '''John Smith''.'
                    id: 1
                    task_id: null
                    ticket_id: null
                    auditable_id: null
                    email_id: 1
                    crm_deal_id: null
                  - who: User 1 (user1@example.com)
                    what: an email field
                    why: Added Email Field 'newuser1@example.com'.
                    when: '2021-07-17 00:00:00 +0700'
                    how: added
                    content: '''newuser1@examplel.com''.'
                    id: 1
                    task_id: null
                    ticket_id: null
                    auditable_id: null
                    email_id: 1
                    crm_deal_id: null
                  - who: User 1 (user1@example.com)
                    what: a telephone
                    why: Added Phone '08123456789'.
                    when: '2021-07-18 00:00:00 +0700'
                    how: added
                    content: '''08123456789''.'
                    id: 1
                    task_id: null
                    ticket_id: null
                    auditable_id: null
                    email_id: 1
                    crm_deal_id: null
  '/qontak/crm/contacts/{id}/chat-history':
    get:
      operationId: getContactChatHistory
      tags:
        - Contacts
      summary: Get Chat History
      description: |-
        This request is to get chat history on contact timeline by contact ID.

        > Note: chat history can be get if your CRM account have integrated with Chat Panel. 
          

        ## Path Variable

        | **Path** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific contact
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: e7b810bd-b82c-441c-b640-c72337393b14
                response:
                  room_id: e7b810bdb82c441cb640c72337393b14
                  chat_contents:
                    - user: Kim Young
                      message: 'Hello, good morning'
                      timestamp: '2021-07-10T00:00:00.000+00:00'
                      type: customer
                    - user: Agent
                      message: 'Hello, can i help you?'
                      timestamp: '2021-07-10T00:01:00.000+00:00'
                      type: agent
  '/qontak/crm/contacts/{id}/update_owner':
    put:
      operationId: updateContactOwner
      tags:
        - Contacts
      summary: Update Contact Owner
      description: |-
        This request is to update specific contact's owner by ID

        ## Path Variable

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | id | numeric | Yes | ID of specific contact |

        ## Body

        | **Name** | **Data Type** | **Mandatory** | **Description** |
        | --- | --- | --- | --- |
        | creator_id | numeric | No | creator_id of body raw. You can find creator_id by Get All Contact and find creator_id that match who you want to |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                creator_id: 300
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific contact
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+07:00'
                  log_id: a3aed8a9-5b69-42a0-8718-0015b70456bc
  /qontak/crm/deals/info:
    get:
      operationId: getDealTemplate
      description: 'Get deal template information including field names, types, and requirements'
      tags:
        - Deals
      summary: Get Deal Template
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: f38941ce-4e5c-45e2-acfc-68a1f1d0b725
                response:
                  - id: null
                    name: name
                    name_alias: Deal Name
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                    required_pipeline_ids:
                      - 1
                      - 2
                    required_stage_ids:
                      - 1
                      - 2
                  - id: null
                    name: currency
                    name_alias: Currency
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: null
                        name: Currency A
                      - id: null
                        name: Currency B
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: size
                    name_alias: Deal Size
                    additional_field: false
                    type: Number
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: creator_id
                    name_alias: Owner
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: User 1
                        email: user_1@example.com
                        crm_teams:
                          - id: 1
                            name: Team 1
                          - id: 2
                            name: Team 2
                      - id: 2
                        name: User 2
                        email: user_2@example.com
                        crm_teams:
                          - id: 1
                            name: Team 1
                          - id: 2
                            name: Team 2
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: closed_date
                    name_alias: Close Date
                    additional_field: false
                    type: Date
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_source_id
                    name_alias: Source
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Source 1
                      - id: 2
                        name: Source 2
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_priority_id
                    name_alias: Priority
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Low
                      - id: 2
                        name: Critical
                      - id: 3
                        name: High
                      - id: 4
                        name: Medium
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: start_date
                    name_alias: Start Date
                    additional_field: false
                    type: Date
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: expired_date
                    name_alias: Expire Date
                    additional_field: false
                    type: Date
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_lost_reason_id
                    name_alias: Lost Reason
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Lost Reason 1
                      - id: 2
                        name: Lost Reason 2
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_stage_id
                    name_alias: Stage
                    additional_field: false
                    type: Dropdown select
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_contact
                    name_alias: Contact
                    additional_field: false
                    type: Number
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_company
                    name_alias: Company
                    additional_field: false
                    type: Number
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: null
                    name: crm_deal_status_id
                    name_alias: Status
                    additional_field: false
                    type: Number
                    dropdown: null
                    required_pipeline_ids: []
                    required_stage_ids: []
                  - id: 1
                    name: single_line_additional_field
                    name_alias: Single Line Additional Field
                    required: null
                    additional_field: true
                    type: Single-line text
                    dropdown: null
                  - id: 2
                    name: dropdown_additional_field
                    name_alias: Dropdown Additional Field
                    required: false
                    additional_field: true
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Option 1
                      - id: 2
                        name: Option 2
  /qontak/crm/deals:
    get:
      operationId: listDeals
      description: Get all deals with pagination and filtering options
      tags:
        - Deals
      summary: Get All Deal
      parameters:
        - name: name
          in: query
          description: Filter deals by name
          schema:
            type: string
          example: Deal-A
        - name: contact_ids
          in: query
          description: Filter deals by contact ID
          schema:
            type: integer
          example: 20
        - name: company_ids
          in: query
          description: Filter deals by company ID
          schema:
            type: integer
          example: 1
        - name: product_ids
          in: query
          description: Filter deals by product ID
          schema:
            type: integer
          example: 3
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
          example: 1
        - name: per_page
          in: query
          description: Number of items per page
          schema:
            type: integer
          example: 25
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-00:00:00.000+07:00'
                  log_id: e31dd796-e0fb-4a75-8844-a6a9c8f61b78
                response:
                  - id: 1
                    name: Deal A
                    slug: deal-A-2934
                    created_at: '2021-07-13T00:00:00.000+07:00'
                    updated_at: '2021-07-13T00:00:00.000+07:00'
                    currency: IDR
                    size: '10000000.0'
                    closed_date: '2021-08-15T00:00:00.000+07:00'
                    creator_id: 1
                    creator_name: User 1
                    crm_source_id: null
                    crm_source_name: null
                    crm_lost_reason_id: null
                    crm_lost_reason_name: null
                    crm_pipeline_id: 1
                    crm_pipeline_name: Sales Pipeline
                    crm_stage_id: 1
                    crm_stage_name: Qualified
                    start_date: '2021-07-13T00:00:00.000+07:00'
                    expired_date: '2022-03-15T00:00:00.000+07:00'
                    crm_priority_id: 1
                    crm_priority_name: Priority 1
                    crm_company_id:
                      - 1
                    crm_company_name:
                      - Zoo
                    crm_lead_ids:
                      - 1
                    crm_lead_name:
                      - Customer Support
                    crm_deal_status: Existing Client
                    product_association_ids:
                      - 1
                    product_association_name:
                      - Special Package
                    product_association_quantity: []
                    product_association_price: []
                    product_association_total_price: []
                    additional_fields:
                      - id: 1
                        name: additional_field_1
                        value: null
                        value_name: Value Here
                      - id: 2
                        name: additional_field_2
                        value: null
                        value_name: Some Value
                  - id: 2
                    name: Deal B
                    slug: deal-b-a00e7bc5-2665-4c4e-843e-3fd3475c6c51
                    created_at: '2021-07-02T11:57:52.152+07:00'
                    updated_at: '2021-07-02T11:57:57.892+07:00'
                    currency: IDR
                    size: 100
                    closed_date: null
                    creator_id: 1
                    creator_name: User 1
                    crm_source_id: null
                    crm_source_name: null
                    crm_lost_reason_id: null
                    crm_lost_reason_name: null
                    crm_pipeline_id: 1
                    crm_pipeline_name: Sales Pipeline
                    crm_stage_id: 2
                    crm_stage_name: New
                    start_date: null
                    expired_date: null
                    crm_priority_id: null
                    crm_priority_name: null
                    crm_company_id: null
                    crm_company_name: null
                    crm_lead_ids: []
                    crm_lead_name: []
                    crm_deal_status: null
                    product_association_ids: []
                    product_association_name: []
                    product_association_quantity: []
                    product_association_price: []
                    product_association_total_price: []
                    additional_fields:
                      - id: 1
                        name: additional_field_1
                        value: null
                        value_name: Value Here
                      - id: 2
                        name: additional_field_2
                        value: null
                        value_name: Some Value
                page: 1
                total_page: 1
                current_data: 2
                total_data: 2
    post:
      operationId: createDeal
      description: Create a new deal
      tags:
        - Deals
      summary: Create Deal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Deal
                currency: IDR
                size: null
                closed_date: null
                creator_id: null
                crm_source_id: null
                crm_source_name: null
                crm_lost_reason_id: null
                crm_lost_reason_name: null
                crm_pipeline_id: 2
                crm_pipeline_name: Sales Pipeline
                crm_stage_id: 1
                crm_stage_name: New
                start_date: null
                expired_date: null
                crm_priority_id: null
                crm_priority_name: null
                crm_company_id: null
                crm_company_name: null
                crm_lead_ids: []
                crm_lead_name: []
                product_association_ids: []
                product_association_name: []
                product_association_quantity: []
                product_association_price: []
                product_association_total_price: []
                additional_fields:
                  - id: 1
                    name: upload
                    value: 'https://google.com'
                    value_name: 'https://google.com'
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          description: The Authorization header indicates the token to access the API
          schema:
            type: string
          example: ••••••
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-00:00:00.000+07:00'
                  log_id: e31dd796-e0fb-4a75-8844-a6a9c8f61b78
                response:
                  id: 1
                  name: Deal A
                  slug: deal-A-2934
                  created_at: '2021-07-13T00:00:00.000+07:00'
                  updated_at: '2021-07-13T00:00:00.000+07:00'
                  currency: IDR
                  size: '10000000.0'
                  closed_date: '2021-08-15T00:00:00.000+07:00'
                  creator_id: 1
                  creator_name: User 1
                  crm_source_id: null
                  crm_source_name: null
                  crm_lost_reason_id: null
                  crm_lost_reason_name: null
                  crm_pipeline_id: 1
                  crm_pipeline_name: Sales Pipeline
                  crm_stage_id: 1
                  crm_stage_name: Qualified
                  start_date: '2021-07-13T00:00:00.000+07:00'
                  expired_date: '2022-03-15T00:00:00.000+07:00'
                  crm_priority_id: 1
                  crm_priority_name: Priority 1
                  crm_company_id:
                    - 1
                  crm_company_name:
                    - Zoo
                  crm_lead_ids:
                    - 1
                  crm_lead_name:
                    - Customer Support
                  product_association_ids:
                    - 1
                  product_association_name:
                    - Special Package
                  product_association_quantity: []
                  product_association_price: []
                  product_association_total_price: []
                  additional_fields:
                    - id: 1
                      name: additional_field_1
                      value: null
                      value_name: Value Here
                    - id: 2
                      name: additional_field_2
                      value: null
                      value_name: Some Value
  '/qontak/crm/deals/{id}':
    get:
      operationId: getDealById
      description: Get a single deal by its ID
      tags:
        - Deals
      summary: Get Single Deal
      parameters:
        - name: Content-Type
          in: header
          description: The Content-Type header indicates the media type of the request body
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          description: ID of specific deal
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-01-01T00:00:00.000+07:00'
                  log_id: e31dd796-e0fb-4a75-8844-a6a9c8f61b78
                response:
                  id: 1
                  name: Deal A
                  slug: deal-A-2934
                  created_at: '2021-07-13T00:00:00.000+07:00'
                  updated_at: '2021-07-13T00:00:00.000+07:00'
                  currency: IDR
                  size: '10000000.0'
                  closed_date: '2021-08-15T00:00:00.000+07:00'
                  creator_id: 1
                  creator_name: User 1
                  crm_source_id: null
                  crm_source_name: null
                  crm_lost_reason_id: null
                  crm_lost_reason_name: null
                  crm_pipeline_id: 1
                  crm_pipeline_name: Sales Pipeline
                  crm_stage_id: 1
                  crm_stage_name: Qualified
                  start_date: '2021-07-13T00:00:00.000+07:00'
                  expired_date: '2022-03-15T00:00:00.000+07:00'
                  crm_priority_id: 1
                  crm_priority_name: Priority 1
                  crm_company_id:
                    - 1
                  crm_company_name:
                    - Zoo
                  crm_lead_ids:
                    - 1
                  crm_lead_name:
                    - Customer Support
                  crm_deal_status: Existing Client
                  product_association_ids:
                    - 1
                  product_association_name:
                    - Special Package
                  product_association_quantity: []
                  product_association_price: []
                  product_association_total_price: []
                  additional_fields:
                    - id: 1
                      name: additional_field_1
                      value: null
                      value_name: Value Here
                    - id: 2
                      name: additional_field_2
                      value: null
                      value_name: Some Value
    put:
      operationId: updateDeal
      description: Update a deal by its ID
      tags:
        - Deals
      summary: Update Deal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Deal
                currency: IDR
                size: null
                closed_date: null
                creator_id: 1
                creator_name: CRM User
                crm_source_id: null
                crm_source_name: null
                crm_lost_reason_id: null
                crm_lost_reason_name: null
                crm_pipeline_id: 2
                crm_pipeline_name: Sales Pipeline
                crm_stage_id: 1
                crm_stage_name: New
                start_date: null
                expired_date: null
                crm_priority_id: null
                crm_priority_name: null
                crm_company_id: null
                crm_company_name: null
                crm_lead_ids: []
                crm_lead_name: []
                product_association_ids: []
                product_association_name: []
                product_association_quantity: []
                product_association_price: []
                product_association_total_price: []
                additional_fields:
                  - id: 167
                    name: harga
                    value: 1
                    value_name: null
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+07:00'
                  log_id: a3aed8a9-5b69-42a0-8718-0015b70456bc
    delete:
      operationId: deleteDeal
      description: Delete a deal by its ID
      tags:
        - Deals
      summary: Delete Deal
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+07:00'
                  log_id: a3aed8a9-5b69-42a0-8718-0015b70456bc
  '/qontak/crm/deals/{id}/timeline':
    get:
      operationId: getDealTimeline
      description: Get deal timeline by its ID
      tags:
        - Deals
      summary: Get Deal Timeline
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: 417eeb7e-f985-4ff6-a085-874f93d2dfb7
                response:
                  - who: User 1 (user1@example.com)
                    what: a deal
                    why: Added  Deal 'Deal A'.
                    when: '2021-07-16 00:00:00 +0700'
                    how: 'added '
                    content: '''Deal A''.'
                    id: 1
                    task_id: null
                    ticket_id: null
                    auditable_id: null
                    email_id: 1
                    crm_deal_id: null
  '/qontak/crm/deals/{id}/stage_history':
    get:
      operationId: getDealStageHistory
      description: Get deal stage history by its ID
      tags:
        - Deals
      summary: Get Deal Stage History
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: 3f5025d3-f7cb-41f0-9f69-d1a9bf1f340d
                response:
                  - current_owner: User 1
                    prev_stage:
                      id: null
                      name: null
                    current_stage:
                      id: 1
                      name: New
                    moved_date: '2021-06-03T00:00:00.000+07:00'
                    moved_by: null
                  - current_owner: User 1
                    prev_stage:
                      id: 1
                      name: New
                    current_stage:
                      id: 2
                      name: Qualified
                    moved_date: '2021-06-17T00:00:00.000+07:00'
                    moved_by: User 1
  '/qontak/crm/deals/{id}/chat-history':
    get:
      operationId: getDealChatHistory
      description: Get deal chat history by its ID
      tags:
        - Deals
      summary: Get Chat History
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-20T00:00:00.000+00:00'
                  log_id: e7b810bd-b82c-441c-b640-c72337393b14
                response:
                  room_id: e7b810bdb82c441cb640c72337393b14
                  chat_contents:
                    - user: Kim Young
                      message: 'Hello, good morning'
                      timestamp: '2021-07-10T00:00:00.000+00:00'
                      type: customer
                    - user: Agent
                      message: 'Hello, can i help you?'
                      timestamp: '2021-07-10T00:01:00.000+00:00'
                      type: agent
  '/qontak/crm/deals/{id}/real_creator':
    get:
      operationId: getDealRealCreator
      description: Get deal real creator by its ID
      tags:
        - Deals
      summary: Get Real Creator
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2021-07-00:00:00.000+07:00'
                  log_id: e31dd796-e0fb-4a75-8844-a6a9c8f61b78
                response:
                  id: 1
                  email: user@sample.test
                  full_name: Sample User
                  username: user@sample.test
                  phone: ''
                  team:
                    id: 1
                    company_name: Qontak Team
                    external_company_id: 1
                  role: owner
  '/qontak/crm/deals/{id}/full-field':
    get:
      operationId: getDealFullField
      description: Get deal full field by its ID
      tags:
        - Deals
      summary: Get Full Field
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-01-01T00:00:00.000+07:00'
                  log_id: e31dd796-e0fb-4a75-8844-a6a9c8f61b78
                response:
                  id: 190
                  name: deal name
                  slug: random-slug-bc15-4491-9464-09ca5c3728de
                  creator:
                    id: 1
                    name: sample user fullname
                    username: user@sample.test
                  crm_team: admins
                  currency: IDR
                  size: '5213.0'
                  cost: null
                  closed_date: '2023-12-29T00:00:00.000+07:00'
                  start_date: '2023-12-01T00:00:00.000+07:00'
                  expired_date: '2023-12-08T00:00:00.000+07:00'
                  crm_pipeline: pipeline name
                  crm_stage: stage name
                  crm_source: null
                  crm_company: company name
                  crm_contacts:
                    - id: 1
                      name: nama contact
                      email: besto@friendo.me
                    - id: 2
                      name: houhouhou
                      email: ''
                  product:
                    - emmoch
                    - produk baru
                  crm_lost_reason: Bad Timing
                  crm_deal_status: Existing Client
                  created_at_date: '2023-12-18'
                  created_at_time: '18:02:33'
                  updated_at: '2024-06-25T10:57:25.078+07:00'
                  crm_note:
                    - note: some notes
                    - note: another notes
                    - note: another notes
                  crm_gps_checkin:
                    - address: some address
                    - address: another address
                  unique_deal_id: UNIQUE123
                  additional_fields:
                    - id: 123
                      name: additional_field_name
                      value: null
                      value_name: null
  /qontak/crm/deals/full-fields:
    get:
      operationId: listDealsFullField
      description: Get all deals full field
      tags:
        - Deals
      summary: Get All Deals Full Field
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /qontak/crm/deals/sla:
    get:
      operationId: getDealSLA
      description: Get deal SLA by its ID
      tags:
        - Deals
      summary: Get Deal SLA
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  '/qontak/crm/deals/{id}/change_log':
    get:
      operationId: getDealChangeLog
      description: Get deal change log by its ID
      tags:
        - Deals
      summary: Get Deal Change Log
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /qontak/crm/deals/auto-assign:
    post:
      operationId: autoAssignDeal
      description: Auto assign deal
      tags:
        - Deals
      summary: Auto Assign Deal
      requestBody:
        content: {}
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /qontak/crm/deals/update_attribute:
    post:
      operationId: updateDealAttribute
      description: Update deal attribute
      tags:
        - Deals
      summary: Update Deal Attribute
      requestBody:
        content: {}
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  '/qontak/crm/deals/channel_integration_room/{channel_integration_room_id}':
    get:
      operationId: getDealByChannelIntegrationRoomId
      description: Get deal by channel integration room ID
      tags:
        - Deals
      summary: Get By Channel Integration Room Id
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: channel_integration_room_id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific channel integration room
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  '/qontak/crm/deals/{id}/update_owner':
    put:
      operationId: updateDealOwner
      description: Update deal owner
      tags:
        - Deals
      summary: Update Owner
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                creator_id: 123
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
        - name: Authorization
          in: header
          schema:
            type: string
          example: ••••••
          description: The Authorization header indicates the token to access the API
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: ID of specific deal
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-01-01T:00:00.000+07:00'
                  log_id: 6b8d3c84-044e-49b2-8a05-c41baf1510a6
  /qontak/crm/deals/deal_permission:
    post:
      operationId: dealPermission
      tags:
        - Deals
      summary: Deal Permission
      description: |-
        This endpoint allows you to add or update deal permissions

        | **Field** | **Type** | **Note** |
        | --- | --- | --- |
        | id | integer | ID of the deal |
        | permissions | array of hashes |  |
        | email | string | email of the user |
        | access_types | array of strings | permissions that want to be applied to the user. only accept:  <br>  <br>\- view → view permission  <br>  <br>\- edit → edit permission  <br>  <br>\- search_association → search association permission  <br>  <br>  <br>if one or more of them is not present, the permission(s) will be set to false. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 123
                permissions:
                  - email: user1@email.com
                    access_types:
                      - view
                      - edit
                      - search_association
                  - email: user2@email.com
                    access_types:
                      - view
                      - edit
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-07-08T10:32:49.000+07:00'
                  log_id: efa1133e-0e27-4102-a351-ec9249409074
                response:
                  status: success
                  message: Permissions granted successfully
                  details:
                    deal_id: 123
                    permissions:
                      - email: user1@email
                        access_types:
                          - view
                          - edit
                          - search_association
                      - email: user2@email
                        access_types:
                          - view
                          - edit
  /qontak/crm/tasks/category:
    get:
      operationId: getTaskCategory
      description: Get task category
      tags:
        - Tasks
      summary: Get Task Category
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-10-28T07:50:10.000+07:00'
                  log_id: 38270474-3b03-49ce-8f39-310d62156df6
                response:
                  - id: 1
                    name: task-cateogry-1
    post:
      operationId: addTaskCategory
      description: Add task category
      tags:
        - Tasks
      summary: Add Task Category
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: task-cateogry-2
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-10-28T06:51:22.000+07:00'
                  log_id: 96ce1399-20df-40c2-bbe7-76191eb05937
                response:
                  id: 2
                  name: task-cateogry-2
                  slug: task-cateogry-2
                  created_at: '2024-10-28T06:51:22.507+07:00'
                  updated_at: '2024-10-28T06:51:22.507+07:00'
                  team_id: 1
                  organization_id: 1
  '/qontak/crm/tasks/category/{id}':
    delete:
      operationId: deleteTaskCategory
      description: Delete task category
      tags:
        - Tasks
      summary: Delete Task Category
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
        - name: id
          in: path
          schema:
            type: integer
          required: true
          description: id of task category
          example: 2
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-10-28T06:52:27.000+07:00'
                  log_id: cd67c9c5-d93a-4e88-a443-6cdee82bf68a
  /qontak/crm/tasks/info:
    get:
      operationId: getTaskTemplate
      description: Get task template
      tags:
        - Tasks
      summary: Get Template
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
          description: The Content-Type header indicates the media type of the request body
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  status: 200
                  type: OK
                  error_code: null
                  info: 'https://developers.qontak.com/docs/api/response-codes#200'
                  developer_message: Success
                  message: Success
                  timestamp: '2024-10-28T23:33:29.000+07:00'
                  log_id: beed4028-09b6-4f54-be90-f76ce624a6f5
                response:
                  - id: null
                    name: name
                    name_alias: Task Name
                    additional_field: false
                    type: Single-line text
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_person
                    name_alias: Associated Contact
                    additional_field: false
                    type: assoc
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_company
                    name_alias: Associated Company
                    additional_field: false
                    type: assoc
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_deal
                    name_alias: Associated Deal
                    additional_field: false
                    type: assoc
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_task_status_id
                    name_alias: Status
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: Not Started
                      - id: 2
                        name: In Progress
                      - id: 3
                        name: Waiting
                      - id: 4
                        name: Completed
                      - id: 5
                        name: Deferred
                    checklist_details_attributes: null
                  - id: null
                    name: reporter_id
                    name_alias: Reporter
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: burhanudin hakim
                      - id: 2
                        name: burhanudin hakim
                    checklist_details_attributes: null
                  - id: null
                    name: user_id
                    name_alias: Assignee
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: burhanudin hakim
                      - id: 2
                        name: burhanudin hakim
                    checklist_details_attributes: null
                  - id: null
                    name: crm_task_priority_id
                    name_alias: Priority
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: None
                      - id: 2
                        name: Low
                      - id: 3
                        name: Normal
                      - id: 4
                        name: High
                      - id: 5
                        name: Urgent
                    checklist_details_attributes: null
                  - id: null
                    name: crm_task_category_id
                    name_alias: Category
                    additional_field: false
                    type: Dropdown select
                    dropdown:
                      - id: 1
                        name: task-cateogry-1
                    checklist_details_attributes: null
                  - id: null
                    name: due_date
                    name_alias: Due Date
                    additional_field: false
                    type: Date time
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: end_due_date
                    name_alias: End Due Date
                    additional_field: false
                    type: Date time
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: reminder_date
                    name_alias: Reminder Date
                    additional_field: false
                    type: Date time
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: detail
                    name_alias: Details / Plan
                    additional_field: false
                    type: text area
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: next_step
                    name_alias: Next Steps / Results
                    additional_field: false
                    type: text area
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_task_attachment
                    name_alias: Attachment
                    additional_field: false
                    type: Upload
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_checkin_attributes
                    name_alias: GPS Location
                    additional_field: false
                    type: checkin
                    dropdown: null
                    checklist_details_attributes: null
                  - id: null
                    name: crm_team_hierarchy_id
                    name_alias: Team's Owner
                    additional_field: false
                    type: Multiple select
                    dropdown: []
                    checklist_details_attributes: null
                  - id: 101
                    name: address_picker_province
                    name_alias: Address Picker (Province)
                    additional_field: true
                    type: Dropdown select
                    dropdown: []
                    checklist_details_attributes: null
                  - id: 102
                    name: address_picker_city
                    name_alias: Address Picker (City)
                    additional_field: true
                    type: Dropdown select
                    dropdown: []
                    checklist_details_attributes: null
                  - id: 103
                    name: address_picker_district
                    name_alias: Address Picker (District)
                    additional_field: true
                    type: Dropdown select
                    dropdown: []
                    checklist_details_attributes: null
                  - id: 104
                    name: address_picker_subdistrict
                    name_alias: Address Picker (Sub-District)
                    additional_field: true
                    type: Dropdown select
                    dropdown: []
                    checklist_details_attributes: null
                  - id: 105
                    name: address_picker_zipcode
                    name_alias: Address Picker (Zip Code)
                    additional_field: true
                    type: Dropdown select
                    dropdown: []
                    checklist_details_attributes: null
                  - id: 106
                    name: location_properties
                    name_alias: test location properties
                    additional_field: true
                    type: gps
                    dropdown: null
                    checklist_details_attributes: null
                  - id: 107
                    name: tes_number
                    name_alias: tes number
                    additional_field: true
                    type: Number
                    dropdown: null
                    checklist_details_attributes: null
                  - id: 108
                    name: alat_rumah_tangga
                    name_alias: alat rumah tangga
                    additional_field: true
[...]
